<?xml version="1.0" encoding="UTF-8"?>
<!-- @version $Id: applicationContext.xml 561608 2007-08-01 00:33:12Z vgritsenko 
	$ -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<!-- BEANS PARA LOS CONTROLADORES -->

	<bean id="NewPetCTL" class="com.petcoccolati.controllers.NewPetCTL" scope="prototype">
		<property name="petNGC" ref="petNGC"></property>
	</bean>
	
	<bean id="MyPetsCTL" class="com.petcoccolati.controllers.MyPetsCTL" scope="prototype">
		<property name="petNGC" ref="petNGC"></property>
	</bean>
	
	<bean id="NewServiceCTL" class="com.petcoccolati.controllers.NewServiceCTL" scope="prototype">
		<property name="newServiceNgc" ref="newServiceNgc"></property>
	</bean>
	
	<bean id="SignUpCTL" class="com.petcoccolati.controllers.SignUpCTL" scope="prototype">
		<property name="signupNgc" ref="signupNgc"></property>
	</bean>

	<!-- BEANS PARA LOS NEGOCIOS -->
	
	<bean id="petNGC" class="com.petcoccolati.ngc.PetNGC">
		<property name="petDAO" ref="petDAO"></property>
	</bean>
	
	<bean id="newServiceNgc" class="com.petcoccolati.ngc.NewServiceNGC">
		<property name="newServiceDao" ref="newServiceDao"></property>
	</bean>
	
	<bean id="signupNgc" class="com.petcoccolati.ngc.SignUpNGC">
		<property name="signupDAO" ref="signupDAO"></property>
	</bean>
	
	<!-- BEANS PARA LA PERSISTENCIA -->
	<bean id="petDAO" class="com.petcoccolati.dao.classic.PetDAO">
	</bean>
	
	<bean id="newServiceDao" class="com.petcoccolati.dao.classic.NewServiceDAO">
	</bean>
	
	<bean id="signupDAO" class="com.petcoccolati.dao.classic.SignUpDAO">
	</bean>

</beans>