@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,300italic,500,500italic);
		
		body { 
			padding: 0 0;
			background-color: #424242;
		}
		
		.btn_sign { 
		margin-top: 15px;
			background:#EE3A43; 
			color:white;
			font-family: "Roboto"; 
			font-size: 18px;
			font-weight: 300;
			text-decoration: none; 
			position: relative;
			-moz-box-shadow: 3px 3px 0 #EE3A43; 
			-webkit-transition: all 0.3s ease; 
			-moz-transition: all 0.3s ease; 
			padding: 5px;
			border:none;
			margin-bottom: 10px;
		}
		
		.btn { 
			background:#EE3A43; 
			color:white;			
			font-family: "Roboto"; 
			font-size: 18px;
			font-weight: 300;
			text-decoration: none; 
			position: relative;
			-moz-box-shadow: 3px 3px 0 #9a9a9a; 
			-webkit-transition: all 0.3s ease; 
			-moz-transition: all 0.3s ease; 
			padding: 5px;
			border:none;
			margin-bottom: 10px;
		}
		
		.btn_sign:hover {
			-webkit-box-shadow: 0px 0px 0 #EE3A43; 
			-moz-box-shadow: 0px 0px 0 #EE3A43; 
			background:#EE3A43; 
			color:white;
		}

		.btn:hover {
			-webkit-box-shadow: 0px 0px 0 #EE3A43; 
			-moz-box-shadow: 0px 0px 0 #EE3A43; 
			background:#EE3A43; 
			color:white;
		}
		
		.bigbtn {
			-webkit-border-radius: 2em;
			-moz-border-radius: 2em;
			border-radius: 0em;
			box-shadow: 2px 2px 2px #101010;
            height: 40px;
		}
		.signup_btn
		{
			-webkit-border-radius: 2em;
			-moz-border-radius: 2em;
			border-radius: 0em;
			box-shadow: 2px 2px 2px #212121;
			width: 100%;
            height: 40px;            
		}
		.z-textbox{
			background-color:#F2F2F2;
			border-style:none;
			box-shadow: 0.3px 0.3px 0.3px #101010;
			
		}
		.z-textbox:focus{
		    background: #e5e5e5 none;
		}
		.z-textbox:hover {
			-webkit-box-shadow: 0px 0px 0 #1F4D69; 
			-moz-box-shadow: 0px 0px 0 #1F4D69; 
			background: #e5e5e5; 
		}
		.lbl {
			color: white;
			margin-top: 10px;
			font-family: "Roboto"; 
			font-size: 14px;
			font-weight: 300;			
		}
		.title_lbl{
			font-size: 25px;
			font-family: "Roboto"; 
			color: #EE3A43;
			font-weight: 400;
		}