@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,300italic,500,500italic);

body { 
			padding: 0 0;
			background-color: #FFFFFF;
		}
		
		.header{
			margin-bottom: 10%;
		}
		
		.welcome_label{			
			font-family: "Roboto"; 
			font-size: 38px;
			font-weight: 400;
			color: #EE3A43;			
		}
		
		.header_label{
			font-family: "Roboto"; 
			font-size: 28px;
			font-weight: 300;	
		}
		.subheader_label{
			font-family: "Roboto";
			font-size: 20px;
			font-weight: 100;	
		}
		